@{
    ViewBag.Title = "RM-e Receitas";
}

<div class="jumbotron">
    <h1>Receita Médica Eletrônica (RM-e) </h1>
    <p class="lead">Cadastre receitas. Consulte informações</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastrar Receitas</h2>
        <p>
            É possível que seja cadastrado uma receita e um número único será gerado para permitir uma consulta de qualquer lugar!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Consulte a qualquer hora</h2>
        <p>
            Se você tem o número da receita, você pode consultar essa receita a qualquer momento, ver todos os itens, conferir informações, verificar itens.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Confirme ou cancele</h2>
        <p>
            Facilmente cancele ou confirme uma receita a partir da tela de busca!
        </p>
    </div>
</div>